:root {
  --primary-color: #b21f66;
  --secondary-color: #111d5e;
  --background-color: #ffbd69;
  --accent-color: #fe346e;
  --drop-shadow: drop-shadow(-1px 1px 6px #808080);
}

body {
  background-color: var(--background-color);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 80px;
}

h1,
h2 {
  color: var(--secondary-color);
  margin-top: 50px;
  text-align: center;
}

h3 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: var(--primary-color);
}

h4 {
  color: var(--secondary-color);
}

footer {
  color: var(--accent-color);
}

.navbar-accent {
  background-color: var(--accent-color);
}

.navbar-collapse a {
  font-size: 12px;
  font-weight: bold;
}

.active {
  color: black;
}

.welcome-text-container {
  margin-bottom: 200px;
}

@media (max-width: 950px) {
  h3 {
    font-size: 35px;
  }

  h1 {
    font-size: 60px;
  }
}
