:root {
  --primary-color: #b21f66;
  --secondary-color: #111d5e;
  --background-color: #ffbd69;
  --accent-color: #fe346e;
  --drop-shadow: drop-shadow(-1px 1px 6px #808080);
}

body {
  background-color: var(--background-color);
  font-family: "Courier New", Courier, monospace;
}

h1,
h2 {
  color: var(--primary-color);
}

h4 {
  color: var(--secondary-color);
}

footer {
  color: var(--accent-color);
}

.navbar-accent {
  background-color: var(--accent-color);
}

.navbar-collapse a {
  font-size: 15px;
}
